body {
    width: 100%;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    min-height: 100vh;
    font-family: "Jost", sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    margin-top: 60px;
    background: (to bottom, #0f0c29, #302b63, #24243e);
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px); /* Ajuste inicial para estar fuera de la pantalla */
    transition: 0.8s ease-in-out;
}

.signup label {
    color: #573b8a;
    transform: scale(0.6);
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input {
    width: 60%;
    height: 10px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #6d44b8;
}

.login {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.8s ease-in-out;
}

.login label {
    color: #573b8a;
}

#chk:checked ~ .login {
    transform: translateY(-25px); /* Mueve el login fuera de la pantalla */
}

#chk:checked ~ .signup {
    transform: translateY(-500px); /* Hace visible el signup */
}


/* Asegurarse de que el contenido no quede oculto debajo de la navbar */
/* body {
    padding-top: 56px;
} */

.navbar {
    z-index: 1000;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-link.active {
    font-weight: bold;
    color: #fff !important;
}

.container {
    margin-top: 60px;
}


.banner {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); /* Misma paleta de colores */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Borde semi-transparente como el fondo del formulario */
    border-radius: 10px; /* Esquinas redondeadas para concordar con el formulario */
    box-shadow: 5px 20px 50px #000; /* Misma sombra que el formulario */
    width: 80%; /* Ajuste de ancho */
    max-width: 800px;
    max-height: 150px; /* Mantener el alto */
    padding: 5px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff; /* Mismo color que el texto del formulario */
}

.temp {
    font-size: 1.3rem; /* Ajuste del tamaño de la temperatura para que sea legible */
    font-weight: bold;
}

.description {
    font-style: italic;
    color: #e0dede; /* Color similar al input del formulario */
    font-size: 1rem;
    font-weight: bold;
}

.footer {
    color: #bbb;
    font-size: 1rem;
}

.icon {
    margin-top: 50px;
}

.fila-par {
    background-color: #f9f9f9; /* Color para las filas pares */
}

.fila-impar {
    background-color: #ccccccbb; /* Color para las filas impares */
}

.fila-no-vigente {
    color: red;
    font-weight: bold;
}

#contenido-dinamico {
    margin-top: 350px;
    position: absolute;
    overflow-y: auto !important;
    width: auto !important;
    max-height: 375px !important;
    border-radius: 12px !important;
    background: #f5f5f5;
    box-shadow: 5px 20px 50px #000; /* Misma sombra que el formulario */
    backdrop-filter: blur(5px);
}

#contenido-dinamico table {
    width: auto !important;
    border-collapse: collapse; /* Evita los espacios entre celdas */
}

#contenido-dinamico thead {
    position: sticky;
    top: 0;
    z-index: 1010;
    background-color: #573b8a;
    color: white;
    width: auto !important;
}

#contenido-dinamico thead th {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 1); /* Sombra para hacer que el thead destaque */
}

#contenido-dinamico th, #contenido-dinamico td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Borde inferior entre las filas */
}

#contenido-dinamico th {
    font-size: 1.1rem;
    font-weight: bold;
}

 #contenido-dinamico tbody {
    display: absolute;
    max-height: 350px; 
    overflow-y: auto; 
    width: auto !important;
}


#contenido-dinamico tbody tr {
    display: absolute; 
    width: auto !important;
    table-layout: fixed; 
}

#contenido-dinamico tbody tr:hover {
    background-color: #b0b0b0;
}

.clickable-icon {
    background: transparent;
}

@media (max-width: 768px) {
    #contenido-dinamico th, #contenido-dinamico td {
        padding: 8px;
    }
}

#contenido-dinamico::-webkit-scrollbar {
    width: 9px; 
}

#contenido-dinamico::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

#contenido-dinamico::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box; 
}


#contenido-dinamico::-webkit-scrollbar-thumb:hover {
    background-color: #989898;
}

#contenido-dinamico::-webkit-scrollbar {
    box-shadow: inset 0 0 5px grey;
}

#contenido-dinamico::-webkit-scrollbar-track {
    background-color: #f2f2f2; 
}

.number {
    text-align: right; 
    font-family: monospace;
}

.minw {
    width: 100px; 
}


.popup {
    position: fixed; /* Mantiene el popup fijo en la ventana */
    left: 0; /* Alineación a la izquierda */
    top: 0; /* Alineación a la parte superior */
    width: 100%; /* Ancho completo de la pantalla */
    height: 100%; /* Altura completa de la pantalla */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    display: none; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegúrate de que esté en la parte superior */
    overflow: auto;
}

.popup-content {
    background-color: #fff; /* Fondo blanco para el contenido */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Alineación centrada */
    width: 500px; /* Ancho del contenido del popup */
}


.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#nav-1 {
    position: absolute;
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 40px #00000033;
    padding: 10px;
    margin-top: 250px;
    li {
        margin: 0px;
        a {
            position: relative;
            padding: 0.6em 2em;
            font-size: 18px;
            border: none;
            outline:none;
            color: #1d1d1d;
            display: inline-block;
            text-decoration: none;
            z-index: 3;
        }
    }
    .slide1,
    .slide2 {
        position: absolute;
        display: inline-block;
        height: 3em;
        border-radius: 10em;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    }
    .slide1 {
        background-color: #70589c;
        z-index: 2;
    }
    .slide2 {
        opacity: 0;
        background: #ccc1d8;
        z-index: 1;
    }
    .squeeze {
        transform: scale(0.9);
    }
}

#nav-2 {
        position: absolute;
        border: none;
        display: flex;
        list-style: none;
        background: transparent;
        /* box-shadow: 20px 40px 40px #00000033; */
        padding: 10px;
        /* margin-top: 900px; */
        bottom: -100px;
        left: 50%;
        gap: 10px; /* Añadido para separación entre botones */
        transform: translateX(-50%); /* Ajuste para el centrado */
        transition: bottom 0.5s ease;
    }

#nav-2 li a {
    position: relative;
    padding: 1em;
    font-size: 24px;
    border: none;
    outline: none;
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #70589c; /* Color de fondo de los botones */
    border-radius: 50%; /* Hacer que los botones sean circulares */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    transition: background-color 0.5s ease, transform 0.5s ease; /* Transición suave */
}

#nav-2 li a:hover {
    background-color: #9b83c9; /* Cambiar el color al pasar el ratón */
    transform: rotate(90deg);
}

#nav-2 li a i {
    color: white; /* Color del icono */
}



*,
*::before,
*::after {
    box-sizing: border-box;
}